@{
    ViewBag.Title = "FogetPassword";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@model QLCamDo.ViewModels.ChangePasswordFormModel


<section class="content-header">
    <h1>
        Thay đổi mật khẩu
        @*<small>@Model.User.FullName</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Dashboard", "User")"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">Thay đổi mật khẩu</li>
    </ol>
</section>
<section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-danger color-palette-box">
        <div class="main-box clearfix">
            <div class="box-header">                  
            </div>
            <div class="box-body">                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Thay đổi mật khẩu</h3>
                            </div>
                            <div class="panel-body">
                                @using (Html.BeginForm())
            {
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Raw(ViewBag.Message)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Mật khẩu hiện tại</label>
                                                    @Html.PasswordFor(o => o.OldPassword, new { @class = "form-control" })
                                                    <div class="help-block">
                                                        @Html.ValidationMessageFor(o => o.OldPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Mật khẩu mới</label>
                                                    @Html.PasswordFor(o => o.NewPassword, new { @class = "form-control" })
                                                    <div class="help-block">
                                                        @Html.ValidationMessageFor(o => o.NewPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Xác nhận mật khẩu mới</label>
                                                    @Html.PasswordFor(o => o.ConfirmNewPassword, new { @class = "form-control" })
                                                    <div class="help-block">
                                                        @Html.ValidationMessageFor(o => o.ConfirmNewPassword, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <input type="submit" value="Cập nhật" class="btn btn-danger col-md-12" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


