@model QLCamDo.Models.Contract

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";

}


<section class="content-header">
    <h1>
        Thêm mới hợp đồng
        <small>Thêm mới hợp đồng trong hệ thống</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Dashboard","User")"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active"> Thêm mới hợp đồng</li>
    </ol>
</section>
<section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
        <div class="main-box clearfix">
            <div class="col-md-12">
                @Html.Raw(ViewBag.Message)
            </div>
            @using (Html.BeginForm("Create", "Contracts", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-lg-12">
                    <div class="box-header with-border">
                        <div class="box-title">
                            Thông tin hợp đồng
                        </div>
                    </div>
                    <div class="main-box-body clearfix">
                        <div class="row">                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Khách hàng</label>
                                    @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                    <a class="btn btn-link" href="@Url.Action("Create","Customers")">Nếu chưa tạo khách hàng thì bấm vào đây để tạo mới</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Mô tả hợp đồng</label>
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Chi tiết mặt hàng cầm cố</label>
                                    @Html.TextAreaFor(model => model.Commodity, new { @class = "form-control", rows = "5" })
                                    @Html.ValidationMessageFor(model => model.Commodity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a href="@Url.Action("Index")" class="btn btn-default">Trở về</a>
                        <button type="submit" class="btn btn-info pull-right">Thêm mới</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>








